.categoryBubble {
  background-color: rgba(188, 140, 226, 0.2);
  width: 35vw;
  min-height: 80px;
  text-align: center;
  border: solid black 5px;
  border-radius: 30px;
  margin: 25px auto;
  font-size: 40px;
  font-weight: 600;
  display: inline-block;
  float: left;
  overflow: hidden;
}

.categoryBubble:nth-child(2n + 1) {
  margin-left: 10vw;
}

.categoryBubble:nth-child(2n + 0) {
  margin-left: 10vw;
}

.answerList {
  text-align: center;
}