.categoryBubble {
  width: 360px;
  min-height: 80px;
  text-align: center;
  border: solid black 2px;
  border-radius: 30px;
  margin: 30px auto;
  font-size: 40px;
  font-weight: 600;
}

.answerList {
  text-align: center;
}